<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GROUP M LIBRARY PROJECT</title>
</head>
<body bgcolour = "cyan">
    {% block content %}
    
    {% endblock %}
    
</body>
</html>