{% extends 'base.html' %}
{% block content%}

<h1>WELCOME TO GROUP M LIBRARY </h1>
<form action= "add">

Enter first number : <input type = "text" name = "num1"><br>

Enter second number : <input type = "text" name = "num2"><br>

Enter third number  : <input type = "text" name = "num3"><br>
<input type= "submit">


</form>
{% endblock %}

